# Backend environment variables
# ⚠️ RENAME THIS FILE TO .env and fill in the values

# MongoDB Atlas Connection String
MONGO_URI=mongodb+srv://mahdeenmannaf:<YOUR_PASSWORD>@supermarketcluster.l4xztpp.mongodb.net/supermarket-simulator?retryWrites=true&w=majority&appName=SupermarketCluster

# JWT Secret - use a strong random string
JWT_SECRET=dalchaal_super_secret_2024_change_this

# JWT Expiry
JWT_EXPIRE=30d

# Environment
NODE_ENV=production
